In [1]:
#1.
data = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [2]:
sorted_data = sorted(data, key = lambda x : x[1])
for item in sorted_data:
    print(item)

('Virat Kohli', 24936)
('Jack Kallis', 25534)
('Ricky Ponting', 27483)
('Sachin Tendulkar', 34357)

In [3]:
#2.
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list(map(lambda x : x**2, l ))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
#3.
my_tuple = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

my_strings_tuple = tuple(map(lambda x : str(x), my_tuple))
print(my_strings_tuple)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [5]:
#4.
from functools import reduce
l = list(range(1,26))

product_lst = reduce(lambda x, y: x*y, l)
print(product_lst)

15511210043330985984000000

In [6]:
#5.
def divisible_by_2_and_3(num):
    return num % 2 == 0 and num % 3 == 0

numbers = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

filtered_numbers = list(filter(divisible_by_2_and_3, numbers))

print(filtered_numbers)

[6, 60, 90, 120]

In [7]:
#6.
strings = ['python', 'php', 'aba', 'radar', 'level']

palindromes = list(filter(lambda x: x == x[::-1], strings))

print(palindromes)

['php', 'aba', 'radar', 'level']